.font{
	font-family:Meiryo UI;
	-ms-transform: rotate(0.028deg);
	}
.points
	{
	color:#ff8888;
	font-size:75%;
	}
.dialog
	{
	background-color:#fff8ff;
	color:#222222;
	border-radius:16px;
	box-shadow: 5px 5px 10px #888;
	padding:10px;
	border:1px solid #ccc;
	text-align:center;
	-ms-transform: rotate(0.028deg);
	white-space:nowrap;
	}
.button
	{
	border-radius:4px;
	box-shadow: 0 2px 1px #fff inset;
	padding:6px;
	border:1px solid #ccc;
	background-image:url("buttonbg.png");
	font-size:16px;
	color:	#333333;
	font-weight:bold;
	text-align:center;
	cursor:pointer;
	-ms-transform: rotate(0.028deg);
	white-space:nowrap;
	}
.buttondisabled
	{
	border-radius:4px;
	box-shadow: 0 2px 1px #fff inset;
	padding:6px;
	border:1px solid #ccc;
	background-image:url("buttonbg.png");
	font-size:16px;
	color:	#bbbbbb;
	font-weight:bold;
	text-align:center;
	-ms-transform: rotate(0.028deg);
	white-space:nowrap;
	}
.tbox
	{
	border-radius:3px;
	box-shadow: inner 0 0 4px rgba(0, 0, 0, 0.2);
	font-size:18px;
	height:28px;
	font-family:Meiryo UI;
	-ms-transform: rotate(-0.028deg);
	padding:3px;
	margin:3px;
	}
.teloptext
	{
	font-weight:bold;
	color:#ffffff;
	font-family:Meiryo UI;
	-ms-transform: rotate(-0.028deg);
	}
.bevel
	{
	border-radius:8px;
	border-top:2px #aaaaaa solid;
	border-left:2px #aaaaaa solid;
	border-right:2px #eeeeee solid;
	border-bottom:2px #ffffff solid;
	}
.SetButton_Off
	{
	font-weight:bold;
	font-size:16px;
	color:#777777;
	font-family:Meiryo UI;
	-ms-transform: rotate(-0.028deg);
	width:180px;
	height:40px;
	text-align:center;
	vertical-align:middle;
	white-space:nowrap;
	background-color:#eeeeee;
	border-radius:6px;
	border-top:2px #ffffff solid;
	border-left:2px #eeeeee solid;
	border-right:2px #aaaaaa solid;
	border-bottom:2px #aaaaaa solid;
	cursor:pointer;
	box-shadow: 5px 5px 10px #333;
	padding:6px;
	}
.SetButton_Off:hover
	{
	color:#333333;
	background-color:#dddddd;
	border-top:2px #aaaaaa solid;
	border-left:2px #aaaaaa solid;
	border-right:2px #eeeeee solid;
	border-bottom:2px #ffffff solid;
	}
.SetButton_On
	{
	font-weight:bold;
	font-size:22px;
	color:#666666;
	font-family:Meiryo UI;
	-ms-transform: rotate(-0.028deg);
	width:120px;
	height:28px;
	text-align:center;
	vertical-align:middle;
	white-space:nowrap;
	background-color:#bbbbbb;
	border-radius:6px;
	border-top:2px #aaaaaa solid;
	border-left:2px #aaaaaa solid;
	border-right:2px #eeeeee solid;
	border-bottom:2px #ffffff solid;
	cursor:pointer;
	box-shadow: 5px 5px 10px #333;
	padding:10px;
	}
.MiniButton
	{
	font-weight:bold;
	font-size:20px;
	color:#444444;
	font-family:Meiryo UI;
	-ms-transform: rotate(-0.028deg);
	text-align:center;
	vertical-align:middle;
	white-space:nowrap;
	background-color:#eeeeee;
	border-radius:6px;
	border-top:2px #ffffff solid;
	border-left:2px #eeeeee solid;
	border-right:2px #aaaaaa solid;
	border-bottom:2px #aaaaaa solid;
	cursor:pointer;
	}
.MiniButton:hover
	{
	color:#222222;
	background-color:#dddddd;
	border-top:2px #aaaaaa solid;
	border-left:2px #aaaaaa solid;
	border-right:2px #eeeeee solid;
	border-bottom:2px #ffffff solid;
	}
.Fields
	{
	background-color:#f8f8ff;
	border-radius:6px;
	border-top:2px #aaaaaa solid;
	border-left:2px #aaaaaa solid;
	border-right:2px #eeeeee solid;
	border-bottom:2px #ffffff solid;
	height:30px;
	margin:4px;
	padding:4px;		//	@fix 2017/3/26 6px->4px
	max-width:90%;
	}
.FieldAreas
	{
	background-color:#f8f8ff;
	border-radius:6px;
	border-top:2px #aaaaaa solid;
	border-left:2px #aaaaaa solid;
	border-right:2px #eeeeee solid;
	border-bottom:2px #ffffff solid;
	margin:4px;
	padding:6px;		//	@fix 2017/3/26 12px->6px
	max-width:90%;
	}
.formbox
	{
	white-space:nowrap;
	text-align:right;
	vertical-align:middle;
	}

.flatbutton
	{
    background: black;
    border: 0px;
	margin:2px;
    color: #FFFFFF;
    min-width: 120px;
	cursor:pointer;
	}
